html 
    head 
        title All Users
    body
        if(type == "error")
            h3(style = "color:red") #{message} 
        else 
            h2(style = "color:blue") Below Are All Users in the Database: 
            each user in allUsers
                p 
                    | Username: #{user.username} | Password: #{user.password} | Favorite Cheese: #{user.cheese} | Profile Picture: #{user.profilepicture}