doctype html
html
  script.
        const chatList = !{JSON.stringify(chatList)}; 
        function redirectToUrl() {
            const userInput = document.getElementById('inputBox').value;
            const self = !{JSON.stringify(id)};
            if (userInput) {

              const isValidChatRoom = chatList.some(group => group.name.toLowerCase() === userInput.toLowerCase());
              if (isValidChatRoom) {
                const baseUrl = window.location.href;
                let modifiedString = baseUrl.replace("chooseMousehole", "mousehole");
                window.location.href = modifiedString + "/" + encodeURIComponent(userInput) + "~" + encodeURIComponent(self);
              }
              else {
                alert('This MouseHole does not exist or you do not belong to it!');
              }
            } else {
                alert('Please enter a value!');
            }
        }
  head
    include ./header.pug
    link(rel='stylesheet' href='/styles/mainStyle.css')
    title Choose MouseHole
  body
    script(src="/styles/themes.js")
    input(type="hidden" id="name" value=`${id}`)
    h2 Type in MouseHole You Want to Squeak
    div
      h3 MouseHoles You're A Part Of
      each group in chatList
        p Mousehole Name: #{group.name}
        each user in group.members
          p User: #{user.username}
        br
        br
    br
    br
    br
    form(onSubmit="event.preventDefault(); redirectToUrl();")
      input#inputBox(type="text" placeholder="Enter your group name" required)
      br
      Button Submit
    br
    a(href="/message" style= "background-color: transparent;") 
      button Go Back
    include ./footer.pug 
    
    script(src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script(src="/public/clientDefault.js")